.app-wrapper {
  &.container-fluid {
    padding: 0px !important;
  }
  height: 100%;
  background: #ebebeb;
  color: #333;
  padding: 0px 10px;
  header {
    padding: 10px;
    border-bottom: 1px solid;
    box-shadow: 0 -3px 10px 3px rgba(0,0,0,.15);
    border-color: #d5dfeb;
    background: #ff6358;
    color: #fff;
  }
  .app-content-block {
    padding: 10px;

    .CodeMirror {
      height: 500px;
    }

  }



}


