html, body {
    height: 100%;
    font-family: "Roboto";
}

.CodeMirror {
    height: 500px;
}

/**
Sortable
*/
.wrap-history-items {
    overflow: hidden;
    max-height: 212px;
    overflow-y: scroll;
}
.item-sort {
    background-color: #bfe7f9;
    color: #1494d0;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    outline: none;

}

.item-sort:hover,
.employee:hover {
    opacity: 0.8;
}

.item-sort.active,
.employee.active {
    background-color: #27aceb;
    color: #fff;
    border-color: #27aceb;
    z-index: 10;
}

.item-sort.disabled {
    opacity: 0.5;
    cursor: default;
}

.team {
    min-height: 240px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #fff;
    background-color: #dff3fc;
}

.team-b {
    background-color: #fbe0e7;
}

.employee {
    background-color: #bfe7f9;
    color: #1494d0;
    margin: 1px;
    padding: 5px;
    cursor: move;
}

.team-b .employee {
    background-color: #f3b9c9;
    color: #dd4672;
}

.team-b .employee.active {
    background-color: #dd4672;
    color: #fff;
}

.empty {
    height: 150px;
}