<div class="container-fluid app-wrapper">
  <header>
    <app-head-panel></app-head-panel>
  </header>
  <div id="container" class="app-content-block">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9">
        <codemirror [(ngModel)]="historyService.codeData" [(config)]="codeConfig"></codemirror>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <app-panel></app-panel>
      </div>
    </div>
  </div>
</div>