<h4>Toolbox</h4>
<button kendoButton [disabled]="false" (click)="beautifyCode()">Beatufy code</button>
<button kendoButton [disabled]="false" (click)="historyService.removeMinus()">Remove MINUS</button>
<button kendoButton [disabled]="true" (click)="historyService.expandCompactUri()">Expand/Compact URI</button>
<button kendoButton [disabled]="true" (click)="historyService.removeSingleton()">Remove Singleton</button>
<button kendoButton [disabled]="true" (click)="historyService.addSingleton()">Add SingletonProperty</button>
<hr/>
<h4>History</h4>
<div class="container-fluid">
    <div class="row wrap-history-items">
        <div class="item-sort col-xs-12 col-sm-12 col-lg-12" *ngFor="let item of items" (click)="historyService.onItemHistoryClick(item)">{{ item.title }}</div>
    </div>
</div>