<div class="row">
  <div class="col-sm-6 col-lg-7 col-xs-12">
    <h3 class="text-infonpm install ng2-codemirror-typescript">{{ title }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-7 col-xs-12">{{ subTitle }}</div>
</div>

